*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

.container{
  max-width: 1000px;
  margin: auto;
}

header{
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
}

.title{
  font-size: 20px;
}

section{
  padding: 20px;
  background-image: url('/img/challenger2.jpg');
  background-size: cover;
  overflow: hidden;
}

.formContainer{
  max-width: 230px;
  background-color: #FFFFFFBB;
  padding: 20px;
  float: right;
}

h2{
  font-size: 16px;
}

.mb{
  margin-bottom: 15px;
}

input, select{
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}

input[type="submit"]{
  color:white;
  background-color: black;
  font-weight: bold;
}

select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

footer{
  background-color: #202121;
  padding: 40px;
  text-align: center;
}

.picture{

}

.description{
  display: inline-block;
  text-align: left;
  color: white;
  max-width: 40%;
  margin-left: 40px;
}

.description p, .description h3{
  margin-bottom: 20px;
}